{% extends 'homebase.html.twig' %}

{% block title %}About Us{{ setting[0].title }} Best Airport Transportation Reservation {% endblock %}
{% block keywords %} {{ setting[0].keywords }}Transport,reservation,service,airport,vip{% endblock %}
{% block description %}{{ setting[0].description }} Can go where you want with vip services{% endblock %}


{% block body %}




    <!-- Start home-about Area -->
    <section class="home-about-area section-gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 about-left">
                    {{ setting[0].aboutus |raw }}
                </div>
                <div class="col-lg-6 about-right">
                    <h1 style="color:	#ff8000">Globally Connected
                        by Large Network</h1>
                    <h4 style="color:	#ff8000">We are here to listen from you deliver exellence</h4>
                    <p style="color:	#ff8000">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                    </p>

                </div>
            </div>
        </div>
    </section>
    <!-- End home-about Area -->


    <!-- Start home-about Area -->
    <section class="home-about-area section-gap">
        <div class="container">
            <div class="row align-items-center">


            </div>
        </div>
    </section>
    <!-- End home-about Area -->









    <!-- Start home-calltoaction Area -->
    <section class="home-calltoaction-area relative">
        <div class="container">
            <div class="overlay overlay-bg"></div>
            <div class="row align-items-center section-gap">
                <div class="col-lg-8">
                    <h1>Experience Great Support</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                    </p>
                </div>
                <div class="col-lg-4 btn-left">
                    <a href="#" class="primary-btn">Reach Our Support Team</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End home-calltoaction Area -->






{% endblock %}
