<header id="header">
    <div class="header-top">
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <a href="index.html"><img src="/assets/img/logo.png" alt="" title="" /></a>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="service.html">Services</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li class="menu-has-children"><a href="">Blog</a>
                        <ul>
                            <li><a href="blog-home.html">Blog Home</a></li>
                            <li><a href="blog-single.html">Blog Single</a></li>
                            <li class="menu-has-children"><a href="">Level 2</a>
                                <ul>
                                    <li><a href="#">Item One</a></li>
                                    <li><a href="#">Item Two</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li><a href="/contact">Contact</a></li>




                        {% if app.user %}
                            <li>
                            <a href="/user"> <img src="{{ asset('uploads/images/' ~ app.user.image) }}" alt="user" class="rounded" width="45"> {{ app.user.name }}{{ app.user.surname }}
                               </a>
                            </li>
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                        {% else %}
                            <li class="menu-active">
                                <a href="/loginuser"><span class="lnr lnr-car" style="font-weight: bold">  Login</span></a>

                            </li>
                        {% endif %}

                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->