{% extends 'admin.base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <h1>Create new Comment</h1>

    {{ include('admin/comment/_form.html.twig') }}

    <a href="{{ path('admin_comment_index') }}">back to list</a>
            </div>
        </div>
    </div>
    {% endblock %}
