{% extends 'admin.base.html.twig' %}

{% block title %}Edit Cars{% endblock %}

{% block body %}
    <h1>Edit Cars</h1>

    {{ include('admin/cars/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_cars_index') }}"class="btn btn-primary">back to list</a>

    {{ include('admin/cars/_delete_form.html.twig') }}
{% endblock %}
