

            <h3 class="mb-20">MENU</h3>
            <img src="{{ asset('uploads/images/'~app.user.image) }}" class="user-info-widget "width="75px" >
            {{ app.user.name }}{{ app.user.surname }}
            <div class="typography">
                <li><a href="/user">My Profile </a></li>
                <li><a href="/user/cars">My Vehicles </a></li>
                <li><a href="/user/comments">My Comments </a></li>
                <li><a href="/user/reservations">My Reservations</a></li>
                <li><a href="/logout">Logout</a></li>

            </div>



